<div style="position: relative;display:block;z-index: 10;width: 100%;height: 60px;top: 0px; background-color: #FFFFFF;text-align: center;border-bottom: 1px solid #ede8e5;">
  <div style="position:absolute;width: 100%; left: 0px; height: 100%;display: flex; justify-content: center;align-items: center;">
    <span style="color: #987d72;">{{ title }}</span>
  </div>

  <div *ngIf="showCart" (click)="onclickcart()" style="position: absolute;right: 20px;height: 100%;display: flex;align-items: center;">
    <div>
      <img src="/assets/icons/shopping-cart.png" />
    </div>
  </div>

  <div *ngIf="showBack" (click)="onclickbackward()" style="position: absolute;left: 20px;height: 100%;display: flex;align-items: center;">
      <div>
        <img src="/assets/icons/keyboard-left-arrow-button.png" />
      </div>
    </div>
</div>