<ion-content>
  <div class="product-container" *ngIf="item != null">
    <div class="product-jumbotron">
      <img src="/assets/icons/{{ product.thumb }}" />
    </div>
    <div class="product-specs">
      <span>{{ product.name }}</span>
      <span>{{ getmeasure() }}</span>
    </div>
    <div class="product-input">
      <label>Tamanho</label>
      <div class="product-input-opt-container">
        <img (click)="onchangesize(1)" class="cup-sm" [ngStyle]="getsizestyle(1)" src="/assets/icons/cup.png" />
        <img (click)="onchangesize(2)" class="cup-md" [ngStyle]="getsizestyle(2)" src="/assets/icons/cup.png" />
        <img (click)="onchangesize(3)" class="cup-lg" [ngStyle]="getsizestyle(3)" src="/assets/icons/cup.png" />
      </div>
    </div>
    <div class="product-input">
      <label>Açucar</label>
      <div class="product-input-opt-container">
        <img (click)="onchangesugar(0)" [ngStyle]="getsugarstyle(0)" src="/assets/icons/no-sugar.png" />
        <img (click)="onchangesugar(1)" [ngStyle]="getsugarstyle(1)" src="/assets/icons/sugar1.png" />
        <img (click)="onchangesugar(2)" [ngStyle]="getsugarstyle(2)" src="/assets/icons/sugar2.png" />
        <img (click)="onchangesugar(3)" [ngStyle]="getsugarstyle(3)" src="/assets/icons/sugar3.png" />
      </div>
    </div>
    <div class="product-input">
      <label>Adicionais</label>
      <div class="product-input-opt-container">
        <img *ngFor="let extra of extras" (click)="onchangeextra(extra.id)" [ngStyle]="getextrastyle(extra.id)" src="/assets/icons/{{extra.thumb}}" />
      </div>
    </div>
    <div class="product-input">
      <label class="w-100 no-max-width">Quantidade</label>
      <div class="product-input-quantity">
          <img (click)="onchangequantity(-1)" [ngStyle]="getquantitystyle(-1)" src="/assets/icons/less.png" />
          <span>{{ item.quantity }}</span>
          <img (click)="onchangequantity(1)" [ngStyle]="getquantitystyle(1)" src="/assets/icons/plus.png" />
      </div>
    </div>
    <div class="product-actions">
      <button (click)="onaddtocart()">Colocar no carrinho</button>
    </div>
  </div>
</ion-content>
