.product-jumbotron {
  height: 132px;
  display: flex;
  background-image: url('/assets/tile.png');
  justify-content: center;
  align-items: center;
}

.product-specs {
  border-bottom: 1px solid #ede8e5;
  padding: 0px 0px 0px 27px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span:nth-child(1) {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
  }

  span:nth-child(2) {
    display: block;
    font-size: 12px;
  }
}

.product-input {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  padding: 0px 0px 0px 27px;
  border-bottom: 1px solid #ede8e5;

  label {
    max-width:80px;
    min-width: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 12px;

    &.no-max-width {
      max-width: none;
    }
  }

  .product-input-opt-container {
    display:flex;
    align-items: center;

    img {
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .product-input-quantity {
    display:flex;
    padding: 0px 37px 0px 0px;
    align-items: center;
    justify-content: center;

    span {
      padding: 0px 15px;
      color: #8e4d4e;
    }
  }
}

.product-actions {
  padding: 0px 27px;

  button {
    margin: 20px 0px;
    width: 100%;
    background-color: #c08671;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px 0px;
  }
}

.cup-sm {
  height: 30px;
}

.cup-md {
  height: 35px;
}

.cup-lg {
  height: 40px;
}