<ion-content>
  <ul class="product-listing">
    <li *ngFor="let product of products" (click)="onclick(product)">
        <div><img src='/assets/icons/{{product.thumb}}' /></div>
        <div><span>{{ product.name }}</span></div>
        <div><img src="/assets/icons/keyboard-right-arrow-button.png" /></div>
    </li>
  </ul>
</ion-content>
