.product-listing {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width:100%;

  li {
    padding: 0px 30px;
    border-bottom: 1px solid #ede8e5;
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 92px;

    div:nth-child(1) {
      flex-grow: 0;
      margin-right: 30px;
    }

    div:nth-child(2) {
      flex-grow: 1;
      width: 100%;

      span {
        color:#30130b;
      }
    }

    div:nth-child(3) {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}