.product-container {
  padding: 0px 25px 25px 25px;

  &:first-of-type {
    padding-top: 25px;
  }

  .product-card {
    background-color: #faf9f8;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 0px 22px;
    align-items: center;

    ul {
      list-style:none;
      padding: 0px;
      margin:0px;

      li {
        margin: 5px 0px;
        font-size: 12px;
        
        span {
          font-size: 13px;
          color: #a26e6e;
        }
      }
    }
  }
}

.empty-cart {
  padding:20px 50px;
  text-align: center;

  p {
    line-height: 24px;
    font-size: 13px;
    color: #8e4d4e;
  }
}