<ion-content>
  <div *ngIf="cart.items.length == 0" class="empty-cart">
    <p>Você não possui nenhum produto dentro do seu carrinho.</p>
  </div>

  <div *ngIf="cart.items.length > 0">
    <div class="product-container" *ngFor="let item of cart.items">
      <div class="product-card">
        <div class="w-100">
          <ul>
            <li>Produto: <span>{{ item.product.name }}</span></li>
            <li>Quantidade: <span>{{ item.quantity }}</span></li>
            <li>Adicionais: <span>{{ item.extrasString }}</span></li>
          </ul>
        </div>
        <div class="fg-0">
          <img src="/assets/icons/{{ item.product.thumb }}" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
